<%- include ('partials/head') %>
  <body>
    <div class="main-card">
      <%- include ('partials/header') %>
        <div class="bg">
          <%- include ('partials/nav') %>
            <main>
              <div class="container">

                <section class="container__module">
                  <%- include('partials/module_models')  %> 
                </section>

              </div>
            </main>
        </div>
        <%- include ('partials/footer') %>
    </div>
  </body>

  </html>

