<div class="col-2">
  <a class="container__logo__img" href="/reprogrammation/<%= brandId %>/<%= brandName %>">
    <img 
      class="logo-brand" 
      src="/img/logo-<%= brandName %>.png"
      alt="Logo de la marque <%= brandName %>" 
      width="<%= brandWidth %>" 
      height="auto"
    >
  </a>
</div>