
  <div class="cellule" >
    <a href="/reprogrammation/<%= brandId %>/<%= brandName %>/<%= modelId %>/<%= modelName.split(" / ").join("-").split(" ").join("-").split("/").join("-") %>">
      <%= modelName %> 
    </a>
  </div> 
